.photo-card {
display: block;
max-width: 200px;
margin: 10px;
padding: 5px;
border: #555 1px solid;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 5px 5px rgba(0, 0, 0, 0.3);
& .gallery-item {
    max-width: 200px;
}
}

.info {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    
    &__box {
        max-width: 50px;
        text-align: center;
        line-height: .2em;
        font-size: .7em;
    }
}