.search-container {
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.89);

  &__form {
    position: absolute;
    left: 40%;
    top: 6%;
    transform: translate(-50%, -50%);

    border-radius: 3px;

    margin-bottom: 25px;
    & label {
      position: absolute;
      top: 0px;
      left: 0px;
      font-size: 16px;
      color: #fff;
      transition: all 0.5s ease-in-out;
    }
    & input {
      border: 0;
      border-bottom: 1px solid #555;
      background: transparent;
      width: 100%;
      padding: 8px 0 5px 0;
      font-size: 16px;
      color: #fff;
      &:focus {
        border: none;
        outline: none;
        border-bottom: 1px solid #e74c3c;
      }
    }
  }
}

.search-container__form input:focus ~ label,
.search-container__form input:valid ~ label {
  top: -10px;
  font-size: 10px;
}

button[type="submit"] {
  color: #fff;
  background-color: #e74c3c;
  outline: none;
  border: 0;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
  position: absolute;
  left: 110%;
}